#Ignorar directerio venv y su contenido
venv/

# Ignorar archivos específicos grandes
venv/Lib/site-packages/cv2/cv2.pyd
venv/Lib/site-packages/face_recognition_models/models/shape_predictor_68_face_landmarks.dat
venv/Lib/site-packages/mediapipe/python/opencv_world3410.dll
venv/Lib/site-packages/jaxlib/xla_extension.pyd